<h1>Airline Game</h1>
<h2>Buy or lease used aircraft</h2>
<h3>There <%="is".pluralize(@used_airplanes.count)%> <%=@used_airplanes.count%> used <%="airplane".pluralize(@used_airplanes.count)%> available to buy or lease</h3>
