<h1>Airline Game</h1>

<p><a href=<%=game_path(@game)%> >Return to game overview</a><br/>
<a href=<%=game_airline_path(@game, @airline)%>>Return to airline page</a></p>

<h2><%="#{@airline.name} fleet"%></h2>
<h3><%="#{@airline.name} operates #{@airplanes.count} airplane".pluralize(@airplanes.count)%></h3>
