<h1>Airline Game</h1>
<h2>Order new aircraft</h2>
<h3>There <%="is".pluralize(@new_airplanes.count)%> <%=@new_airplanes.count%> new <%="airplane".pluralize(@new_airplanes.count)%> available to buy or lease</h3>
