<h1>Airline Game</h1>
<p><a href=<%=game_path(@game)%>>Return to game overview</a></p>
<h2><%=@airline.name%></h2>

<p>Based in <%= "#{@airline.base.name}, #{@airline.base.country}" %> </p>

<p>View airplanes <br/>
View routes</p>
